$primary-color: oklch(44% 0.0483 138.55);
$primary-color1: oklch(60% 0.0483 138.55);
$primary-color2: oklch(65% 0.0483 138.55);
$primary-color: oklch(80% 0.0483 138.55);
$primary-color: oklch(95% 0.0483 138.55);
$cta: oklch(82% 0.1455 79.31);
$cta-hover: oklch(77% 0.1455 79.31);

$white: oklch(99% 0.0483 138.55);
$black: oklch(10% 0.0483 138.55);
$wrong-answer-color: oklch( 60% 0.1825 21.18);
$right-answer-color: oklch( 70% 0.1776 141.88);